.project {
	font-family: Palatino, 'Palatino Linotype', serif;
	color: lime;
	text-align: center;
	background: url("http://i.imgur.com/VETXUOs.jpg");
	background-size: cover;
	padding-left: 30px;
  	min-width: 75%;
}

.options{
  max-width: 25%;
  min-width: 140px;
  flex: 1;

}


#goto {
 font-family: Palatino, 'Palatino Linotype', serif;
 color: black;
}


body {
	height: 100%;
	margin: 0;
	width: 100%;
	padding: 10px;
	display: flex
	
}
