.project {
	font-family: Palatino, 'Palatino Linotype', serif;
	color: 00FFFF;
	text-align: center;
	background: url("http://i.imgur.com/VETXUOs.jpg");
	background-size: cover;
}

#goto {
 font-family: Palatino, 'Palatino Linotype', serif;
 color: black;
}


body {
	height: 100%;
	margin: 0;
	width: 100%;
	padding: 10px;
	
}
