### .options {
###  font-family: Palatino, 'Palatino Linotype', serif;
###  color: red;
### }

#goto {
 font-family: Palatino, 'Palatino Linotype', serif;
 color: blue;
 text-align: center;
}


body {
	height: 100%;
	margin: 0;
	width: 100%;
}
